body {
  background-color: black;
  color: white;
  margin: 0;
  padding-left: 5vw;
  padding-right: 5vw;
}

#header {
  color: white;
  font-family: "Playfair Display";
  font-size: clamp(50px, 5vw, 100px);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-bottom: 30px;
}

#title {
  font-size: clamp(30px, 3vw, 60px);
  font-weight: bold;
  margin-bottom: 10px;
}

#content {
  font-size: clamp(20px, 2vw, 40px);
  font-weight: lighter;
  margin-bottom: 10px;
  line-height: 2;
  word-wrap: break-word;
}

#date {
  font-size: clamp(15px, 1.5vw, 20px);
  color: rgb(180, 180, 180);
}

::selection {
  background: grey;
}
